.top-container {
    background: #4CC9FE;
}

.form-and-camera-content {
    display: flex;
    justify-content: space-between; /* Makes space between form and camera */
    align-items: flex-start; /* Aligns the top of both form and camera */
}

/* Camera Capture Section */
#camera {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px; /*Adjust width as needed */
    margin-left: 20px; /*Spacing from the form */
}
 
#camera video {
    align-content: space-between;
    width: 100%;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    margin-bottom: 10px;
}

.p16 {
    padding: 1rem;
}

.pl16 {
    padding-left: 1rem;
}

.pr16 {
    padding-right: 1rem;
}

.pt16 {
    padding-top: 1rem;
}

.pb16 {
    padding-bottom: 1rem;
}

#department {
    background-color: #2196F3!important;
    color: white;
    padding: .5rem;
}

#login-body {
    background-color: #2196F3!important;
}

.login-container {
    background-color: white;
    width: 25%;
    border-radius: 1rem;
    padding: 1.2rem;
    box-shadow: 0px 0px 50px 10px lightgrey;
}

.login-container h2 {
    color: #2196F3;
    text-align: center;
    font-weight: bold;
}

.user-login-logo {
    font-size: 6rem;
    color: #2196F3;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
}

.forgot-password {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #2196F3;
}